@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* AppComponent's private CSS styles */


h1 {
  margin-bottom: 0;
  font-size: 3.2em;
  color: rgb(255, 0, 119);
  text-shadow: 2px 2px 6px rgb(255, 0, 119, 0.7);
  font-family: 'Roboto Mono';
  font-weight: lighter;
  letter-spacing: -2px;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #444444;
  color: rgb(255, 0, 119);
  border-radius: 4px;
}

nav a:hover {
  color: black;
  background-color: rgb(255, 0, 119);
}

nav a.active {
  background-color: black;
}

hr{
  height: 1px;
  background-color: rgb(255, 0, 119);
  border: none;
}

.webName {
  margin: 20px;
  
}

@media (max-width: 480px) {
  .webName {
    font-size: .6em;
    text-align: left;
  }
}